/* text.css */

.hero-style h1 {
  color: #132238;
  font-size: 70px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}

.hero-style p {
  font-size: 16.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #666;
  margin-top: 32px;
  margin-bottom: 0;
}

.hero-text {
  max-width: 648px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-style h1 {
  color: #132238;
  font-size: 42px;
  font-weight: 700;
   font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: 15px;
}

.about-style p{
  font-size: 16.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #666;
  margin-top: 15px;
  margin-bottom: 0;
}

.bubble-style h1 {
  color: #132238;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.bubble-style p {
  font-size: 16.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #666;
  margin-top: 32px;
  margin-bottom: 0;
}

.portfolio-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.portfolio-style h1 {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0;
  color: #132238;
}

.portfolio-style p{
  font-size: 16.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #87909D;
  margin-top: 12px 0;
  max-width: 500px;
}

.work-together-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    max-width: 450px;
    margin: 0 auto;
}

.work-together-style p{
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    color: #A5ACB5;
    font-size: 12px;
}

.blog-style{
    max-width: 450px;
    margin: 0 auto;
    text-align: center;  
    color: #132238;  
}

.blog-style p{
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
  color: #A5ACB5;
  font-size: 12px;
}