
/* Form.css */
.form-section {
  background-color: transparent;
  position: absolute;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -640px; 
  margin-bottom: -150px;
  padding: 0 18.75rem;
}

.form-bubble, 
.form-bubble .bubble-content {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
}

.form-bubble {
  max-width: 1200px;
  padding: 70px !important; 
  border-radius: 30px !important;
  box-shadow: 0 20px 50px rgba(0,0,0,0.1);
}

/* --- GAUCHE --- */
.contact-info-side {
  flex: 0 0 42%;
}

.contact-info-side h2 {
  font-size: 35px;
  color: #132238;
  line-height: 1.2;
  margin-bottom: 20px;
}

.contact-subtitle {
  color: #7f8286;
  margin-bottom: 40px;
}

.detail-card {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  width: fit-content;
  min-width: 280px;
  transition: all 0.3s ease;
}

.detail-card:hover .detail-icon {
  background: #a53dff;
  color: #fff;
}

.detail-card:hover{  
  transform: scale(1.02);
    box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
}

.detail-icon {
  width: 50px;
  height: 50px;
  background: #EDD8FF;
  color: #a53dff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: all 0.3s ease;
}

.detail-text span {
  display: block;
  font-size: 13px;
  color: #7f8286;
}

.detail-text strong {
  font-size: 16px;
  color: #132238;
}

.social-pills {
  display: flex;
  gap: 35px;
  margin-top: 50px;
}

.social-pills a {
  color: #a53dff;
  font-size: 18px;
  transition: 0.3s;
}




/* --- DROITE --- */
.form-side {
  flex: 0 0 50%;
  margin-top: 40px;
}

.form-intro {
  color: #7f8286;
  margin-bottom: 30px;
}

.project-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-form input, 
.project-form textarea {
    background: transparent;
  width: 100%;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 0;
  outline: none;
  font-size: 16px;
  transition: 0.3s;
  margin-bottom: 5px;
}

.project-form input:focus, 
.project-form textarea:focus {
  border-bottom-color: #a53dff;
  color:#a53dff;
}

.form-row {
  display: flex;
  gap: 30px;
}

.form-row input {
  flex: 1;
}

.submit-button {
  width: fit-content;
  margin-top: 20px;
  padding: 15px 35px !important;
}

