

/* hero.css */
.hero-section {
  padding: 0 18.75rem;
  height:1550px;
  background: radial-gradient(
      ellipse 1900px 1500px at 130% -16%,
      #eeb7f3 0%,
      transparent 70%
    ),
    radial-gradient(
      ellipse 2500px 1800px at 140% 60%,
      #b3e9db 0%,
      transparent 55%
    ),
    radial-gradient(
      ellipse 600px 600px at 12% 118%,
      #d3931b 0%,
      transparent 80%
    );
  background-color: #fff;
}

.hero-container {
  min-height: calc(100dvh - 90px);
  display: flex;
  align-items: center;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  gap: 2rem;
}

.hero-image {
  border-radius: 25px;
  width: 45%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
}

.cards-container {
  display: flex;
  gap: 4px;
  margin-top: 48px;
}
