
/* card.css */
.card {
  padding: 14px 24px;
  width: 220px;
  background-color: #edd8ff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.card h2 {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0;
  color: #132238;
}

.card p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  color: #666;
}
.cards-container .card {
  border-radius: 0;
}

.cards-container .card:first-child {
  border-radius: 8px 0 0 8px;
}

.cards-container .card:last-child {
  border-radius: 0 8px 8px 0;
}



